.line_bottom {
	text-align: left;
	text-decoration:underline;
	text-underline-offset: 5px;
}

.line2_updown {
	position: relative;
	padding: 0.3rem 0;
	margin-bottom: 0.2rem;
	border-top: 7px double #353535;
	border-bottom: 7px double #353535;
	color: #353535;
	font-weight: bold;
	font-size: 26px;
}
