/* id属性  <p id="type1">ほげほげほげほげ</p>*/
/* 1ページに一回きり、ページ内リンクを作れる*/
#type1 {
  font-size: 20px;
  color: red;
}

/* class属性 <p class="type2">ほにゃほにゃほにゃ</p> */
.type2 {
  font-size: 24px;
  color: blue;
}

/* タグ属性 <type3>ほにゃほにゃほにゃ</p> */
.type3 {
  font-size: 24px;
  color: blue;
  @media screen and (max-width: 767px) {
    /* ここに横幅が767px以下の時に発動するスタイルを記述 */
  }

  @media screen and (min-width: 767px) {
    /* ここに横幅が767pxより大きい時に発動するスタイルを記述 */
  }
}

.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  outline: dashed 1px black;
}

.contents {
  display: flex; /* 横並べ */
  flex-wrap: wrap;
  background-color: aliceblue;
}
.item {
  width: calc(90% / 4);
  padding: 20px 10px;
  text-align: center;
}

body {
	margin: 0;
	padding: 0;
  background-color: #eff0f3;
}

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  background-color: #e5e8f1;
}

.W-picture {
  width: 100%;
}

.line_bottom {
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.line2_updown {
  position: relative;
  padding: 0.3rem 0;
  margin-bottom: 0.2rem;
  border-top: 7px double #353535;
  border-bottom: 7px double #353535;
  color: #353535;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.box {
  background-color: #e8f4ff;
  border: solid 7px #353535;
  margin: 5%;
}

.sidebox {
  background-color: #e8f4ff;
  border: solid 7px #353535;
  margin: 5%;
  display: flex;
  text-align: center;
}
