/*全体*/
body {
  background-color: #f8f8ff; /*背景色*/
  font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif;

  letter-spacing: 0.1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0%;
}
