

<!DOCTYPE html>
<html labg="en">
<head>
<meta chrset="utf-8" />
<title>Modal App　Challenge</title>
<link rel="stylesheet" href="css/popup.css" />
</head>
<body>
    <!-- モーダルを開くボタン -->
  <button class="modal-open js-modal-open">モーダルを開く</button>

  <!-- モーダル本体 -->
  <div class="modal js-modal">

    
    <div class="modal-container">
      <!-- モーダルを閉じるボタン -->
      <div class="modal-close js-modal-close">×</div>
      <div class="modalScroll">
        <h1 style="margin:0">Modal1</h1>
        <div class="hr1"> </div>
        <div class="ScrollContent">
          <!-- モーダル内部のコンテンツ -->
          <div class="modal-content">
            <p>
              Click on the outer frame to close
              <h1>Content1</h1>
              <h1>Content2</h1>
              <h1>Content3</h1>
              <h1>Content4</h1>
              <h1>Content1</h1>
              <h1>Content2</h1>
              <h1>Content3</h1>
              <h1>Content4</h1>
              <h1>Content1</h1>
              <h1>Content2</h1>
              <h1>Content3</h1>
              <h1>Content4</h1>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="modal-open js-modal-open1">モーダルを開く</button>

  <!-- モーダル本体 -->
  <div class="modal js-modal1">

    
    <div class="modal-container">
      <!-- モーダルを閉じるボタン -->
      <div class="modal-close js-modal-close1">×</div>
      <div class="modalScroll">
        <h1 style="margin:0">Modal</h1>
        <div class="hr1"> </div>
        <div class="ScrollContent">
          <!-- モーダル内部のコンテンツ -->
          <div class="modal-content">
            <p>
              Click on the outer frame to close
              <h1>Content1</h1>
              <h1>Content2</h1>
              <h1>Content3</h1>
              <h1>Content4</h1>
              <h1>Content1</h1>
              <h1>Content2</h1>
              <h1>Content3</h1>
              <h1>Content4</h1>
              <h1>Content1</h1>
              <h1>Content2</h1>
              <h1>Content3</h1>
              <h1>Content4</h1>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/popup.js"></script>
  </body>
</html>