.wrapper2 img {
  width: 100%;
}
#wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  box-sizing: border-box;
}
.masonry-item {
  width: 23%;
  margin-bottom: 4rem;
}
@media (max-width: 834px) {
  .masonry-item {
    width: 47%;
  }
}

/* スマホサイズから1列で表示する場合 */
@media (max-width: 430px) {
  .masonry-item {
    width: 100%;
  }
}
