/* モーダルと背景の指定 */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}

.hr1 {
  border-top: 1px solid rgb(117, 117, 117);
  margin: 0 20px;
}

/* モーダルの擬似要素の指定 */
.modal:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active{
  opacity: 1;
  visibility: visible;
  height: 100%;
}


/* モーダル内側の指定 */
.modal-container{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  height: 80%;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content{
  background: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 20px;
  height: 100%;

}

.ScrollContent {
  overflow-y: scroll;
  height: 90%;
  margin:1%;
  border-radius: 20px;
}

.modalScroll {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 10px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p{
  margin: 1em 0;
}

/* モーダルを閉じるボタンの指定 */
.modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
}

/* モーダルを開くボタン */
.modal-open{
}


